<div class="row querySuscrip">
    <div class="col s12">
        <h5>Suscripciones</h5>
        <div class="corousel" *ngIf="suscripciones">
            <div class="avatarImg" *ngFor="let emp of suscripciones" [routerLink]="['/vista', emp.empId]">
                <img [src]="emp.empImg" [alt]="emp.empName">
            </div>
            <p *ngIf="suscripciones.length == 0">Aun no te has inscrito a alguna empresa</p>
        </div>
    </div>
</div>

<div class="row" id="ofertasRecientes">
    <div class="col s12">
        <h5>Ofertas recientes</h5>
    </div>
    <div class="col s6" *ngFor="let ofer of actualizaciones" [routerLink]="['/oferta', ofer.idOferta]">
        <div class="imgPreview">
            <img [src]="ofer.oImagen" alt="">
        </div>
        <p class="center"> {{ofer.oNombre}} </p>
    </div>
</div>