<div class="container">
    <div class="row">
        <div class="col s12 center">
            <p class="grey-text">Un desarrollo de <a class="grey-text" href="marxadigital.com">Marxa Digital</a></p>
            <p class="grey-text"><a class="grey-text" href="mailto:marxadigital@gmail.com">marxadigital@gmail.com</a></p>
        </div>
        <div class="col s6">
            <a [routerLink]="['/pdp']" class="grey-text">Políticas de privacidad</a>
        </div>
        <div class="col s6">
            <a class="grey-text">Términos y condiciones</a>
        </div>
    </div>
</div>