.eNavbar {
    position: fixed;
    top: 0em;
    height: 5vh;
    z-index: 12;
    background: #fff;
    width: 100vw !important;
}

.navbarTitle {
    font-weight: 600;
}

.unlogIcon {
    font-size: x-large;
    padding: 1em 0 !important;
}