<div class="row tit">
    <div class="col s12">
        <h3 class="tituloEditor">FIGURAS</h3>
    </div>
</div>

<app-edit-box></app-edit-box>

<div id="cajaCrear" class="box row">
    <div class="crear col s3" (click)="Cuadro()">
        <div id="cuadro"></div>
        <i class="fa fa-plus-circle " aria-hidden="true"></i>
    </div>

    <div class="crear col s3" (click)="CuadroBorde()">
        <div id="cuadroBorde"></div>
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </div>

    <div class="crear col s3" (click)="CuadroRadius()">
        <div id="cuadroRadius"></div>
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </div>

    <div class="crear col s3" (click)="circulo()">
        <div id="circulo"></div>
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </div>

    <div class="crear col s3" (click)="circuloRadius()">
        <div id="circuloRadius"></div>
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </div>

</div>