<div class="oferNavbar">
    <div class="row">
        <div class="col s3">
            <a href="javascript:history.back()" class="icon-back">
                <img src="../../../../assets/img/oficons/back.png" alt="back" title="Atrás" />
            </a>
        </div>
    </div>
</div>
<div class="row" id="editor" style="margin: 0">
    <div class="col s3 herramientas">
        <app-herramientas></app-herramientas>

    </div>
    <div class="col s9">
        <app-window *ngIf="design" [data]="design.html"></app-window>
    </div>

    <app-preview style="display: none"></app-preview>

    <div id="fullscreen" (click)="fullScreen()">
        <i class="fas fa-expand"></i>
    </div>
</div>
<app-loading class="overlay" style="display: none"></app-loading>