.dashcard {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
    border-radius: 2em;
    padding: 1em !important;
}

#adsCont {
    padding: 2em 0;
}

.ads {
    padding: 1em;
    background: #c15d2d;
    color: white;
    border: dashed;
}

.ads a {
    color: black !important;
    font-weight: 700 !important
}