<div id="aviso" class="pop-up">
    <div class="container">
        <div class="row">
            <div class="col s12 close">
                <i class="fas fa-times" (click)="onClose()"></i>
            </div>
            <div class="col s12 center">
                <h5>IMPORTANTE</h5>
                <p>En este momento esta página está optimizada para dispositivos móviles, podrás usarla en computadora pero tendrá algunos desajustes de diseño. Te recomendamos abrir este sitio en tu celular</p>
                <p>DISCULPA LAS MOLESTIAS</p>
            </div>
        </div>
    </div>
</div>