<app-backbar></app-backbar>
<div class="container personalizar">
    <div class="title ">
        <h4 class="center-align">REGISTRAR EMPRESA</h4>
        <p class="center-align">
            Registra tu empresa para publicar ofertas y llega a miles de clientes en tu ciudad.
        </p>

        <form class="oferForm" name="personalizar" #personalizar="ngForm" action="#" method="POST" id="personalizar" onsubmit="return false">
            <!-- nombre del negocio -->
            <div class="row">
                <div class="input-field col s12">
                    <input class="ofinput" placeholder="Nombre del negocio" type="text" name="nNegocio" id="nNegocio" #nNegocio="ngModel" [(ngModel)]="empresa.nNegocio" required />
                    <div class="error" *ngIf="nNegocio.invalid && (nNegocio.dirty || nNegocio.touched)">
                        <span class="alertForm" *ngIf="nNegocio.errors['required']">
                            El nombre de tu negocio es necesario.
                        </span>
                    </div>
                </div>
            </div>

            <!-- IMAGEN DE PERFIL -->
            <div class="row">
                <div class="col s4 colLeft" id="profilePreview">
                    <img id="avatarPreview" src="../../../../assets/img/LogoJ.svg" alt="" />
                </div>
                <div class="col s7 colRight">
                    <label for="nAvatar">Agrega una foto de perfil</label>
                    <div class="file-field input-field col s12">
                        <span class="boton btn-secondary upfile ">Subir Archivo</span>
                        <input type="file" name="nAvatar" id="nAvatar" #nAvatar="ngModel" [(ngModel)]="empresa.nAvatar" (change)="cargarImagen($event)" />
                    </div>
                </div>
            </div>

            <!-- KEYWORDS -->

            <div class="row">
                <label for="keywords">Escribe palabras claves que ayudarán a tus clientes a encontrarte más fácilmente. <b>Entre más palabras claves agregues, mejor</b> </label>
                <input type="text" class="ofinput" placeholder="Agrega palabras clave" name="condicion" [(ngModel)]="keyword" (keyup.enter)="addKeyword()">
                <ul class="col s12 conds-input" data-name="conds-input">
                    <li class="cond" *ngFor="let item of empresa.keywords, index as i">
                        {{item}}
                        <span class="del" (click)="delKeyword(i)"></span>
                    </li>
                </ul>
            </div>

            <!-- CATEGORÍA DE NEGOCIO -->

            <div class="row">
                <div class=" col s12 " (click)="drop = !drop">
                    <span class="drop-icon" *ngIf="drop; else dropup" (click)="open = 'list-drop-open'">
                        <img src="../../../../assets/img/oficons/dropdown.png" width="15px" alt="" />
                    </span>
                    <ng-template #dropup>
                        <span class="drop-icon" (click)="open = 'list-drop-close'">
                            <img src="../../../../assets/img/oficons/dropup.png" width="15px" alt="" />
                        </span>
                    </ng-template>

                    <!-- DROPDOWN -->

                    <ul id="drop-list" class="list-drop-close ofinput" [ngClass]="open" style="width: 112% !important">
                        <li id="catego" class="item-drop disable" (click)="open='list-drop-open'" (click)="toggle($event)">Categoría de negocio</li>
                        <li class="item-drop" *ngFor="let cate of categorias" (click)="open = 'list-drop-close'" (click)="toggle($event)">
                            {{ cate }}
                        </li>
                        <li class=item-drop (click)="open = 'list-drop-close'" (click)="toggle($event)">Otro</li>
                    </ul>
                    <input class="input-drop" type="hidden" name="nCategoria" #otra="ngModel" [(ngModel)]="otraCategoria" id="nCategoria" value="" touched required />
                    <!-- <span class="alertForm" *ngIf="otra.invalid && (otra.dirty || otra.touched)">
                      Escribe la categoria de tu negocio
                    </span> -->
                </div>
            </div>

            <!-- TELÉFONO -->
            <div class="row">
                <div class="input-field col s12">
                    <input class="ofinput" placeholder="Teléfono" type="tel" name="nTelefono" id="nTelefono" #nTelefono="ngModel" [(ngModel)]="empresa.nTelefono" required />
                </div>
            </div>

            <!-- EMAIL -->

            <div class="row">
                <div class="input-field col s12">
                    <input class="ofinput" placeholder="Email empresarial" type="text" name="nCorreo" id="nCorreo" #nCorreo="ngModel" [(ngModel)]="empresa.nCorreo" required />
                </div>
            </div>

            <!-- SITIO WEB -->

            <div class="row">
                <div class="input-field col s12">
                    <input class="ofinput" placeholder="Sitio web" type="text" name="nWebsite" id="nWebsite" #nWebsite="ngModel" [(ngModel)]="empresa.nWebsite" />
                </div>
            </div>



            <!-- SUBMIT -->

            <div class="row">
                <div class="col s12">

                    <button (click)="onSubmit()" id="guardar" [disabled]="!personalizar.form.valid" class="boton btn-primary">
                        GUARDAR
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<app-uploading class="overlay" style="display: none"></app-uploading>
<app-loading class="overlay" style="display: none"></app-loading>