.home {
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
}

@media screen and (max-width: 500px) {
    .home {
        background-size: cover;
        height: 100vh;
        background-position: 70% 50%;
    }
}

#logoPrincipal {
    width: 75vw;
    padding: 8vh 0;
}

.indep {
    margin-top: 3em
}

@media screen and (min-width: 700px) {
    #logoPrincipal {
        width: 20vw;
        padding: 8vh 0;
    }
    .slider {
        height: unset !important;
    }
    .homeSlider {
        background: none;
        height: 100%;
    }
    .sliders {
        display: flex;
        overflow: hidden;
    }
    .slide {
        min-width: 100%;
        transition: all .3s ease-in-out;
        animation: slide 20s 5s infinite ease-in-out;
    }
    @keyframes slide {
        0% {
            transform: translateX(0%);
        }
        3% {
            transform: translateX(-100%);
        }
        33% {
            transform: translateX(-100%);
        }
        36% {
            transform: translateX(-200%);
        }
        67% {
            transform: translateX(-200%);
        }
        70% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(0%);
        }
    }
}