<div class="tusOfertas dashcard center" id="tusOfertas">
    <div class="row noMargin">
        <div class="col s9">
            <h4 class="title titleCard left-align">Tus ofertas</h4>
        </div>
    </div>
    <div class="container ofertasGrid">
        <div class="nofertas center" *ngIf="oferVacio">
            <h5 class="center">Aun no tienes ofertas</h5>
            <img src="../../../../../assets/img/oficons/Iso gris.svg" alt="" />
        </div>

        <div class="row">
            <div class="col s6 ofer" *ngFor="let ofer of ofertasEmpresa">
                <i class="fas" [ngClass]="{'fa-eye': ofer.data.visible, 'fa-eye-slash': !ofer.data.visible}"></i>
                <img src="{{ ofer.data.oImagen }}" id="{{ ofer.idOfer }}" alt="" [routerLink]="['/empresa/oResumen', ofer.idOfer]" />
            </div>
        </div>
    </div>

    <div class="mensajeVacio" *ngIf="oferVacio">
        <p>Crea una publicación para empezar</p>
        <p>Presiona el botón de <i class="fas fa-file-medical" aria-hidden="true"></i> en el menú flotante</p>
    </div>
</div>