.add {
    position: relative;
    bottom: -0.75em;
    font-size: 2em;
    color: #C1272D;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
}

.ofer {
    padding: 10px;
}

.ofer img {
    width: 100%
}

.dashcard {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
    border-radius: 2em;
    padding: 1em;
    margin: 3em auto 0;
}