#circleBox {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#uploading {
    position: absolute;
    width: 200px;
    height: 200px;
    align-content: center;
    justify-content: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-65%, -50%);
}